<!DOCTYPE html>
<html>
<head>
    <title>HANGMAN</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="./CSS/CSS_REVIEW.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="https://drive.google.com/file/d/1vYNxNWxiUe6EaxI9g65diG4mk2_AGUoS/preview" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="content">
        <div class="topright">
            <audio src="./audio/arcade.mp3" autoplay id ="audioz"></audio>
            <img src="./images/SOUND_OFF.png" alt="SOUND-ON" id="Sound_on" onclick="document.getElementById('audioz').play(); this.style.display='none'; document.getElementById('Sound_off').style.display='block'" style="display: none;">
            <img src="./images/SOUND_ON.png" alt="SOUND-OFF" id="Sound_off" onclick="document.getElementById('audioz').pause(); this.style.display='none'; document.getElementById('Sound_on').style.display='block'" >
        </div>
            <a href="home.html" target="_self" class="left_arrow"><img src="./images/back.png" alt="button back"></a> 
            <img src="./images/REVIEW.png" alt="Reviewlogo">
            <div class ="food">
            <a href= "food.html" target="_self">
            <button class ="food1">
                <img src="https://icons.iconarchive.com/icons/iconicon/veggies/128/bananas-icon.png" width="128" height="128">
             </button>
            </a>
            <img src="./images/3.png" alt="Kids fonts">
            </div>
            <div class ="sports">
            <a href= "sport.html" target="_self">
                <button class ="sports1">
                    <img src="https://icons.iconarchive.com/icons/diversity-avatars/avatars/128/cristiano-ronaldo-icon.png" width="128" height="128">
                </button>
            </a>
            <img src="./images/4.png" alt="Kids fonts">
            </div>
            <div class ="Cars">
                <a href= "cars.html" target="_self">
                    <button class ="Cars1" >
                        <img src="https://icons.iconarchive.com/icons/calebamesbury/classic-american-cars/128/Muscle-Car-Mustang-GT-icon.png" width="128" height="128">
                    </button>
                </a>
                <img src ="./images/1.png" alt="Kids fonts">
            </div>
            <div class ="Flags">
                <a href= "flags.html" target="_self">
                    <button class ="Flags1">
                        <img src="./images/flag.png" width="128" height="128">
                    </button>
                </a>    
                <img src ="./images/2.png" alt="Kids fonts">
            </div>
    </div>
</body>
</html>