<!DOCTYPE html>
<html>
<head>
    <title>HANGMAN</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="./CSS/sport.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="https://drive.google.com/file/d/1vYNxNWxiUe6EaxI9g65diG4mk2_AGUoS/preview" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="content">
        <a href="review.html" target="_self" class="left_arrow"><img src="./images/back.png" alt="button back"></a> 
        <div class="topright">
            <audio src="./audio/arcade.mp3" autoplay id ="audioz"></audio>
            <img src="./images/SOUND_OFF.png" alt="SOUND-ON" id="Sound_on" onclick="document.getElementById('audioz').play(); this.style.display='none'; document.getElementById('Sound_off').style.display='block'" style="display: none;">
            <img src="./images/SOUND_ON.png" alt="SOUND-OFF" id="Sound_off" onclick="document.getElementById('audioz').pause(); this.style.display='none'; document.getElementById('Sound_on').style.display='block'" >
        </div>
        <div class="mots1">
            <p>RACE</p>
            <p>GOLF</p>
            <p>BALL</p>
            <p>POLO</p>
            <p>RUGBY</p>
            <p>RODEO</p>
            <p>CHESS</p>
            <p>RALLY</p>
            <p>CRAPS</p>
            <p>LOTTO</p>
        </div>
        <div class="mots2">
            <p>RIDING</p>
            <p>HURLING</p>
            <p>ARCHERY</p>
            <p>CRICKET</p>
            <p>HANGMAN</p>
            <p>SKATING</p>
            <p>BASEBALL</p>
            <p>FOOTBALL</p>
            <p>HANDBALL</p>
            <p>SHOOTING</p>
		</div>
        <div class="mots3">
            <p>BASKETBALL</p>
            <p>GYMNASTICS</p>
            <p>BADMINTON</p>
            <p>VOLLEYBALL</p>
            <p>BOXING</p>
            <p>DIVING</p>
            <p>HOCKEY</p>
            <p>NASCAR</p>
            <p>PING-PONG</p>
            <p>HIGH JUMP</p>
      </div>  
    </div>
</body>
</html>